@page
@model WebApp.Pages.Auth.RegisterModel
@{
}
<form method="post">
    <p>Email</p>
    <input type="email" asp-for="EmailAddress">
    <p>Passowrd</p>
    <input type="password" asp-for="Password">
    <input type="submit">
</form>