@page "/images"
@model WebApp.Pages.Images.IndexModel
@{
}

<form method="post">
    
</form>

<div>
    @foreach (var image in Model.Images)
    {
        <img src="@image.Url" />
    }
</div>
